                        {name -> f:format.case(mode : 'lower')} {f:format.raw(value: '{')}
                            iconIdentifier = {name}
                            title = {llPath}:plugin.{name -> f:format.case(mode : 'lower')}.title
                            description = {llPath}:plugin.{name -> f:format.case(mode : 'lower')}.description
                            tt_content_defValues {f:format.raw(value: '{')}
                                CType = list
                                list_type = {extensionNameInNameSpaceFormat -> f:format.case(mode : 'lower')}_{name -> f:format.case(mode : 'lower')}
                            {f:format.raw(value: '}')}
                        {f:format.raw(value: '}')}
