<?php
defined('TYPO3_MODE') or die();

$tempTca = [
    'ctrl' => [
        'typeicon_classes' => [
            {pathToModel}::CONTENT_RELATION_{name -> f:format.case(mode: 'upper')} => {pathToModel}::CONTENT_RELATION_{name -> f:format.case(mode: 'upper')},
        ],
    ],
    'types' => [
        {pathToModel}::CONTENT_RELATION_{name -> f:format.case(mode: 'upper')} => [
            'showitem' => 'type,
                --div--;LLL:EXT:frontend/Resources/Private/Language/locallang_ttc.xlf:tabs.access, hidden, starttime, endtime, sys_language_uid, l10n_parent, l10n_diffsource',
        ]
    ],
];
$GLOBALS['TCA']['{table}'] = array_replace_recursive($GLOBALS['TCA']['{table}'], $tempTca);
